#modal-container {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scroll-behavior: none;

    z-index: 800;

    background-color: rgba(255, 255, 255, 0.95);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    width: 678px;
    min-height: 695px;

    box-shadow: rgba(0,0,0,0.15) 0px 2px 10px;
}

#modal-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
    cursor: pointer;
    transform: scaleX(1.15);
}

#modal-exit:hover {
    color: rgba(25,25,25,1);
}
