#share-button-container {
    position: relative;
}

#share-button-tip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50px;

    padding: 8px 8px;

    border-radius: 3px;

    animation: 0.5s delayedAppear;
    animation-fill-mode: forwards;

    visibility: hidden;

    position: absolute;
    left: 2px;
    bottom: 40px;

    background-color: black;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

    z-index: 850;
}

#share-button-tip.clicked {
    height: 28px;
    text-align: center;
}

#share-button-tip::after {
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20px;
    
    padding: 6px 6px;

    clip: rect(0 12px 12px -4px);
    transform: rotate(45deg);

    animation: 0.5s delayedAppear;
    animation-fill-mode: forwards;

    visibility: hidden;

    position: absolute;
    /* top: 0; */
    left: 24px;
    bottom: -12px;

    background-color: black;

    z-index: 801;
}